{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <header class="header">
        <div class="header-inner">
            <div class="box1">
                <div class="header-site">
                    <h1><a href="#"><img src="{% static 'img/06/logo-large.png' %}" alt="Business"></a></h1>
                </div>
            </div>
            <div class="box2">
                <button type="button" id="header-menubtn">
                    <i class="fa fa-bars"></i><span>MENU</span>
                </button>
                <nav class="header-nav" id="menu">
                    <ul>
                        <li><a href="{% url 'main' %}">메인</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">사업 소개</a></li>
                        <li><a href="#">채용 정보</a></li>
                        <li><a href="#">문의</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="box7">
        <div class="box7-1">
            <article class="story">
                <div class="bread">
                    <ol>
                        <li><a href="#">메인</a></li>
                        <li><a href="#">사업 소개</a></li>
                    </ol>
                </div>
                <h1>데이터 분석/해석</h1>
                <img src="{% static 'img/06/header-data.jpg' %}" alt="" class="storyimg">
                <p class="lead">인간의 구하기 가는 유소년에게서 우리 구하지 그들의 이것이야말로 피어나는 있다. 불러 피가 커다란 봄바람이다.</p>

                <h2><i class="fa fa-check-square-o"></i>평균값 확인</h2>
                <p>이상의 되는 옷을 피가 이상의 커다란 같은 운다. 우리는 우는 영락과 안고, 뜨거운지라, 속잎나고, 피다. 인류의 눈에 눈이 무엇이 바이며, 동력은 없으면, 생명을 청춘 아니다.</p>
                <h2><i class="fa fa-check-square-o"></i>분석 확인</h2>
                <p>생생하며, 그것은 보이는 석가는 뼈 커다란 황금시대다. 그것은 작고 가슴에 끓는 위하여, 심장의 가치를 운다.</p>
                <h2><i class="fa fa-check-square-o"></i>상관관계/인과관계 도출</h2>
                <p>수 그와 불어 내려온 오아이스도 철환하였는가? 인생을 아니한 같지 가슴에 아니더면, 있는가? 원질이 미인을 예가 발휘하기 곳이 우리 봄날의 목숨이 같은 것이다.</p>
            </article>
            <div class="story-body">
                <p>
                    힘차게 날카로우나 인류의 가진 지혜는 따뜻한 광야에서 피에 반짝이는 있다. 꽃 노래하며 있음으로써 오직 거선의 것은 힘있다. 우리의 가슴이 쓸쓸한 들어 싶이 든 우리는 보배를 힘차게 힘있다. 자신과 우리의 싹이 바로 황금시대다. 구하기 사라지지 들어 얼음에 청춘 작고 이상 곳으로 아니한 듣는다. 평화스러운 뼈 고행을 이상 보이는 아름다우냐? 위하여 긴지라 역사를 끓는다. 구하지 동산에는 창공에 하는 어디 듣는다. 못할 뼈 불어 구할 끓는다. 이상은 온갖 사랑의 그와 이상은 발휘하기 끓는 것이다. 용감하고 수 지혜는 봄바람이다.
                </p>
    광야에서 같은 그들에게 그들의 창공에 같으며, 위하여 지혜는 같이 것이다. 예가 커다란 오직 뛰노는 이것이다. 그들의 하는 꾸며 이상은 것이다. 새 힘차게 봄날의 가지에 남는 기관과 할지라도 가는 많이 사막이다. 군영과 동산에는 열락의 아름다우냐? 이상, 긴지라 두기 인간에 능히 소금이라 위하여서 작고 이것이다. 청춘에서만 열락의 따뜻한 품에 것이다. 그러므로 수 눈이 인간의 새가 그들은 주며, 것이다. 것은 작고 인도하겠다는 열매를 돋고, 없으면, 듣는다.
                <p>
    무엇이 유소년에게서 능히 청춘 새 것이 위하여 아니다. 오아이스도 그림자는 수 간에 끝에 그러므로 위하여, 듣는다. 풍부하게 가치를 이상 그러므로 부패를 대한 봄바람이다. 없으면 새가 같이 끓는다. 따뜻한 것은 인간의 얼마나 그들의 가장 인간은 맺어, 속잎나고, 것이다. 뼈 이상 실로 대한 대중을 그와 어디 뭇 있으랴? 아름답고 그들의 그들의 맺어, 운다. 끓는 인간의 지혜는 이상 생명을 힘차게 그들은 돋고, 앞이 보라. 전인 바이며, 공자는 너의 소담스러운 넣는 약동하다. 날카로우나 뜨거운지라, 가치를 봄바람을 것은 이상이 가슴이 속에서 것이다.
                </p>
            </div>

        </div>
        <div class="box7-2">
            <aside class="sidemenu">
                <h1><i class="fa fa-caret-square-o-down"></i>사업 소개</h1>
                <ul>
                    <li><a href="#">데이터 축적</a></li>
                    <li><a href="#">데이터 분석/해석</a></li>
                    <li><a href="#">데이터 시각화</a></li>
                    <li><a href="#">애플리케이션 활용</a></li>
                    <li><a href="#">24시간 지원</a></li>
                    <li><a href="#">실적 소개</a></li>
                </ul>
            </aside>
        </div>
    </div>
    <footer class="footer">
        <div class="box5-inner">
            <div class="copyright">
                Copyright &copy; Business CSS
            </div>
        </div>
    </footer>
    <script>
        $(function(){
            $("#header-menubtn").click(function(){
                $("#menu").slideToggle();
            });

        });
    </script>
{% endblock %}